
/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTS */

html {

}

/* STYLE */
main {
    background-color: aquamarine;
    padding: 10px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style: none;
}